* {
  border: 1px solid red;
}

form {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh
}
h1 {
  font-size: 10em;
}

input {
  height: 2em;
  width: 20%;
  margin: .5em;
  border-radius: 10px;
  font-size: 2em;
}

select {
  height: 2em;
  margin: .5em;
  width: 15%
}

button {
  border-radius: 10px;
  width: 15%;
  margin-top: 3em;
  height: 3em
}
