* {
  border: 1px solid red;
}

header {
  background-color: #000;
  height: 125px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-quote {
  margin: auto 0px;
  font-size: 2em;
  color: #e8c539;
  font-style: italic;
}

.logout-button {
  width: 100px;
  height: 100px;
  margin: .5%;

}

h2, p {
  margin: 0;
}
.user-badge {
  height: 100px;
  text-align: center;
  margin: .5%;
}

.baby-yoda {
  width: 100px;
  margin: 0;
}
