
/* * {
  border: 1px solid red;
} */
header {
  padding: .1%;
  background-color: #000;

}

.header-container {
  background-color: #000;
  height: 125px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 30px 20px -20px red;

}

.header-quote {
  margin: auto 0px;
  font-size: 2.5em;
  color: #e8c539;
  font-family: arial;
  font-style: italic;
}

.logout-button {
  width: 165px;
  height: 115px;
}

h2, p {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}

.user-badge {
  height: 100px;
  text-align: center;
  margin: .5%;
}

.baby-yoda {
  width: 100px;
  margin: 0;
}
